<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <filter> 
    <filter-name>FacebookUserFilter</filter-name>
    <filter-class>com.appspot.baotwits.server.controller.facebook.filter.FacebookUserFilter</filter-class>
    <init-param></init-param>
   </filter>
  
  <filter-mapping>
    <filter-name>FacebookUserFilter</filter-name>
    <url-pattern>/facebook/</url-pattern>
  </filter-mapping> 
  
  <servlet>
  	<servlet-name>baosDispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>baosDispatcher</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
       /WEB-INF/baosDispatcher-servlet.xml
    </param-value>
   </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>
